Redirect 301 /resources/2012/07/ParkJam-0.9.apk /resources/ParkJam-current.apk
Redirect 302 /resources/ParkJam-current.apk /resources/2012/10/ParkJam-1.3.apk

AddType application/vnd.android.package-archive apk
